body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
.body-menu-lateral {
    overflow: hidden;
    /* transition: all 0.2s linear; */
    background-color: rgba(0, 0, 0, 0.5);
    
}
.container{
    width: 85%;
    margin: 0 auto;
}
.header-content {
    height: 8vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
}
.header-content a {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 13px;
}
.logo {
    background-image: linear-gradient(to right, #2e10dd, #e142dc);
    color: #FFF;
    padding: 10px;
    /* text-transform: uppercase; */
    font-weight: 800;
    border-radius: 15px;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 20%);
}

.header-content ul {
    display: flex;
    margin: 15px;
    /* display: none; */
}
.header-content ul li {
    padding: 0px 15px;
}

.menu-lateral ul {
    display: flex;
    flex-direction: column;
}
.menu-lateral ul li {
    margin: 15px 5px;
}
.menu-lateral ul li a {
    color: #FFF;
}
.menu-hamburguer {
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 1s linear all;
}
.hamburguer-barra {
    width: 90%;
    height: 3px;
    background-color: #000;
}
.menu {
    transition: left 0.5s linear; 
}
.menu-l {
    left: -25%;
    
}
.menu-lateral {
    width: 25%;
    height: 100vw;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s linear;
    /* opacity: 1;  */
}
.area1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: 90vh;
}
.area1 img {
    object-fit: cover;
    position: absolute;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-position: 0% 50%;
    width: 62%;
    left: auto;
    right: 0;
    z-index: -1;
}
.area1-desc {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 35px;
    background-color: rgba(255,255,255,0.6);
}
.area1-desc h1{
    font-size: 58px;
    color: #2e10dd;
    font-weight: 600;
    margin: 0;
}
.area1-desc p {
    font-size:22px;
}
.area1-photo {
    width: 400px;
    height: 400px;
    background-image: url(../images/face.jpeg);
    border-radius: 50%;
    background-size: cover;
    background-position: right;
    margin-bottom: -13%;
    margin-right: 10%;
    border: 10px solid #Fff;
}
.area2 {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.area2 h1,
.area3 h1,
.area4 h1 {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin: 60px;
}
.area2-desc,
.area3-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.area2-desc1,
.area2-desc2,
.area2-desc3,
.area3-desc1,
.area3-desc2,
.area3-desc3 {
    width: 25%;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
}
.area2-desc1 {
    border-top: 20px solid #e142dc;
}
.area2-desc1 .area2-areaPng,
.area2-desc2 .area2-areaPng, 
.area2-desc3 .area2-areaPng  {
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area2-desc1 .area2-areaPng {
    background-color: #e142dc;
}
.area2-desc2 .area2-areaPng {
    background-color: #2cbecc;
}
.area2-desc3 .area2-areaPng {
    background-color: #f1c50e;
}
.area2-desc1 p,
.area2-desc2 p,
.area2-desc3 p,
.area3-desc1 p,
.area3-desc2 p,
.area3-desc3 p {
    text-align: center;
    color: #111;
}
.area2-desc2 {
    border-top: 20px solid #2cbecc;
}
.area2-desc3 {
    border-top: 20px solid #f1c50e;
}
.area3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    background-image: linear-gradient(to right, #2e10dd, #e142dc);
}
.area3-img {
    width: 80%;
}
.area3-img img {
    width: 100%;
}
.area3-desc1,
.area3-desc2,
.area3-desc3 {
    border-top: 20px solid #ea76e6;
}
.area3 h3 {
    color: #e142dc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.area4 {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-top: 7px solid #FFF;
    align-items: center;
}
.area4 h1 {
    margin: 0;
    padding: 20px;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    width: 215px;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    border-radius: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
.area4-desc {
    background-color: rgba(255,255,255,0.6);
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: 60px;
    border-radius: 30px;
    padding: 60px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.area4-desc-content1,
.area4-desc-content2,
.area4-desc-content3 {
    width: 43%;
    background-color: #FFF;
    height: 310px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 5px solid #FFF;
}
.area4-desc-content1 {
    background-image: url('../images/QuantosExisteBrasil.png');
    background-position: center;
    background-size: contain;
}
.area4-desc-content2 {
    background-image: url('../images/QualValorVeiculo.PNG');
    background-position: top;
    background-size: cover;
}
.area4-desc-content-modal {
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    background-color: rgba(35, 81, 112, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}