body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
.body-menu-lateral {
    overflow: hidden;
    /* transition: all 0.2s linear; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}
.container{
    width: 85%;
    margin: 0 auto;
}
.header-content {
    height: 8vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
}
.header-content a {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 13px;
    font-weight: 500;
}
.logo {
    background-image: linear-gradient(to right, #2e10dd, #e142dc);
    color: #FFF;
    padding: 10px;
    text-align: center;
    font-weight: 800;
    border-radius: 15px;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 20%);
    letter-spacing: 0.5px;
    line-height: 13px;
}

.header-content ul {
    display: flex;
    margin: 15px;
    /* display: none; */
}
.header-content ul li {
    padding: 0px 15px;
}

.menu-lateral ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.menu-lateral ul li {
    margin: 15px 5px;
}
.menu-lateral ul li a {
    color: #FFF;
}
.menu-hamburguer {
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 1s linear all;
}
.hamburguer-barra {
    width: 90%;
    height: 3px;
    background-color: #000;
}
.menu {
    transition: left 0.5s linear; 
}
.menu-l {
    left: 0 !important;
    
}
.menu-lateral {
    padding: 20px 0px;
    width: 45%;
    height: 100vh;
    /* background-color: #000; */
    background-image: linear-gradient(to bottom, #2e10dd, #e142dc);
    position: absolute;
    top: 0;
    left: -45%;
    transition: left 0.5s linear;
    z-index: 10;
}
.area1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.area1 img {
    object-fit: cover;
    position: absolute;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-position: 0% 50%;
    width: 62%;
    left: auto;
    right: 0;
    z-index: -1;
    top: 0;
}
.area1-desc {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 35px;
    background-color: rgba(255,255,255,0.6);
}
.area1-desc h1{
    font-size: 58px;
    color: #2e10dd;
    font-weight: 600;
    margin: 0;
}
.area1-desc p {
    font-size:22px;
}
.area1-photo {
    width: 400px;
    height: 400px;
    background-image: url(../images/face.jpeg);
    border-radius: 50%;
    background-size: cover;
    background-position: right;
    margin-bottom: -13%;
    margin-right: 10%;
    border: 10px solid #Fff;
}
.area2,
.footer-area {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.area2 h1,
.area3 h1,
.area4 h1,
.area5 h1 {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin: 60px;
}
.area2 h3 {
    text-align: center;
}
.area2-desc,
.area3-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.area2-desc1,
.area2-desc2,
.area2-desc3,
.area3-desc1,
.area3-desc2,
.area3-desc3 {
    width: 25%;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
}
.area2-desc1 {
    border-top: 20px solid #e142dc;
}
.area2-desc1 .area2-areaPng,
.area2-desc2 .area2-areaPng, 
.area2-desc3 .area2-areaPng  {
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area2-desc1 .area2-areaPng {
    background-color: #e142dc;
}
.area2-desc2 .area2-areaPng {
    background-color: #2cbecc;
}
.area2-desc3 .area2-areaPng {
    background-color: #f1c50e;
}
.area2-desc1 p,
.area2-desc2 p,
.area2-desc3 p,
.area3-desc1 p,
.area3-desc2 p,
.area3-desc3 p {
    text-align: center;
    color: #111;
}
.area2-desc2 {
    border-top: 20px solid #2cbecc;
}
.area2-desc3 {
    border-top: 20px solid #f1c50e;
}
.area3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    background-image: linear-gradient(to right, #2e10dd, #e142dc);
}
.area3-img {
    width: 80%;
}
.area3-img img {
    width: 100%;
}
.area3-desc1,
.area3-desc2,
.area3-desc3 {
    border-top: 20px solid #ea76e6;
}
.area3 h3 {
    color: #e142dc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.area4-desc {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 90px;
}
.area4-img {
    max-width: 25%;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 15%);
    padding: 10px;
}
.area4-img img {
    width: 100%;
}
.area5 {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area5 h1 {
    margin: 0;
    padding: 20px;
    color: #000;
    background-color: #FFF;
    width: 215px;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    border-radius: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
.area5-desc {
    background-color: rgba(255,255,255,0.6);
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-top: 60px;
    border-radius: 30px;
    padding: 60px;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.area5-desc-content1,
.area5-desc-content2,
.area5-desc-content3 {
    width: 43%;
    background-color: #FFF;
    height: 310px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 5px solid #FFF;
}
.area5-desc-content1 {
    background-image: url('../images/QuantosExisteBrasil.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0E4959;
}
.area5-desc-content2 {
    background-image: url('../images/QualValorVeiculo.PNG');
    background-position: top;
    background-size: cover;
}
.area5-desc-content-modal {
    background-color: rgba(35, 81, 112, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all ease .5s;
}
.area5-modal1 {
    width: 65%;
    height: 65vh;
    background-color: #FFF;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
.area5-modal1-content {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}
.area5-modal1-content-img {
    flex: 1;
    /* background-image: url('../images/QuantosExisteBrasil.png'); */
    background-position: center;
    background-size: contain;
    /* width: 43%; */
    /* background-color: #FFF; */
    height: 310px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 5px solid #000;
    margin-right: 25px;
    background-repeat: no-repeat;
}
.area5-modal1-content-desc {
    flex: 2;
}
.area5-modal1 h2 {
    margin-top: -60px;
}
.area5-modal1 a {
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 5px 5px 19px 0 rgb(0 0 0 / 15%);
    color: #000;
}
.modal-close {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
}
.close {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    background-color: red;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    background-color: #FFF;/*#2F3136 */
    border-top: 5px solid #FFF;
}
.footer-area {
    flex-direction: row;
    padding: 60px;
    justify-content: space-around;;
    background-color: #FFF;/*#2F3136 */
}
.area-midias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
    height: 45px;
    padding: 0px 8px;
}
.area-midias img {
    margin: 5px;
}

@media (max-width: 1210px) {
    .area1 img {
        width: 75%;
    }
}
@media (max-width: 1145px) {
    .area1-desc {
        width: 35%;
        padding: 15px;
    }
    .area1-desc h1 {
        font-size: 38px;
    }
    .area1-desc p {
        font-size: 20px;
        margin: 0;
    }
    .area1-photo {
        width: 350px;
        height: 350px;
    }
    .area1-desc p {
        font-size: 20px;
    }
    .area5-modal1-content-img {
        height: 225px;
    }
}

@media (max-width: 1024px) {
    .area1 img {
        width: 90%;
    }
}

@media (max-width: 970px) {
    .area1-desc {
        width: 40%;
        padding: 15px;
        margin-left: 10%;
    }
    .area1-photo {
        width: 275px;
        height: 275px;
        margin-bottom: -25%;
        margin-right: 9%;
    }
    .menu {
        display: none;
    }
    .menu-hamburguer {
        display: flex;
    }
}

@media (max-width: 886px) {
    .area1-desc h1 {
        font-size: 34px;
    }
    .area2-desc, .area3-desc {
        flex-direction: column;
        align-items: center;
    }
    .area2-desc1, .area2-desc2, .area2-desc3, .area3-desc1, .area3-desc2, .area3-desc3 {
        width: 45%;
        margin: 30px;
        padding: 40px;
    }
    .area5-desc-content1, .area5-desc-content2, .area5-desc-content3 {
        height: 250px;
    }
}
@media (max-width: 784px) {
    .area1-desc h1 {
        font-size: 32px;
    }
    .area1-photo {
        width: 235px;
        height: 235px;
        /* margin-bottom: -30%; */
    }
    .area1-desc {
        margin-top: -23%;
    }
    .area5-modal1-content {
        flex-direction: column;
    }
    .area5-modal1-content-img {
        width: 43%;
    }
}
@media (max-width: 729px) {
    .area1-desc {
        width: 50%;
    }
    .area1-photo {
        width: 200px;
        height: 200px;
    }
    .area5-modal1 h2 {
        margin-top: 0px;
        text-align: center;
    }
}
@media (max-width: 647px) {
    .area1-desc h1 {
        font-size: 28px;
    }
    .area1-desc p {
        font-size: 16px;
    }
    .area1-photo {
        width: 175px;
        height: 175px;
        border: 6px solid #Fff;
    }
    .area5-desc-content1, .area5-desc-content2, .area5-desc-content3 {
        height: 180px;
        width: 40%;
    }
    .area2 h1, .area3 h1, .area4 h1, .area5 h1 {
        font-size: 40px;
    }
    .area5 h1 {
        padding: 10px;
    }
}
@media (max-width: 565px) {
    .area1 {
        flex-direction: column;
    }
    /* .area1 img {
        width: 75%;
    } */
    .area1-desc {
        margin-top: -5%;
        margin-left: 10%;
        width: 55%;
    }
    .area1-photo {
        width: 150px;
        height: 150px;
        margin-bottom: -20%;
        margin-right: -50%;
        margin-top: 2%;
    }
    .area5-desc-content1, .area5-desc-content2, .area5-desc-content3 {
        height: 140px;
    }
}

@media (max-width: 464px) {
    .area1-desc h1 {
        font-size: 24px;
    }
    .area1-desc p {
        font-size: 14px;
    }
    .area2-desc1, .area2-desc2, .area2-desc3, .area3-desc1, .area3-desc2, .area3-desc3 {
        width: 55%;
    }
    .area4-desc {
        flex-direction: column;
        align-items: center;
    }
    .area4-img {
        max-width: 40%;
        padding: 20px;
        margin: 20px;
    }
    .area5-desc {
        padding: 30px 0px;
    }
    .area5-modal1-content-img {
        width: 60%;
        margin-right: 10px;
    }
    .footer-area {
        padding: 40px;
    }
}

@media (max-width: 425px){
    .header-content a,
    .logo {
        letter-spacing: 0.2px;
        font-size: 14px;
        padding: 7px;
    }
    .area1-desc h1 {
        font-size: 20px;
    }
    .area1-desc p {
        font-size: 12px;
    }
    .area1-photo {
        width: 115px;
        height: 115px;
        border: 4px solid #Fff;
    }
    .area5-desc-content1, .area5-desc-content2, .area5-desc-content3 {
        width: 60%;
    }
}
@media (max-width: 335px) {
    .area1-desc {
        padding: 10px 25px;
    }
    .area1-desc h1 {
        font-size: 18px;
    }
    .area1-photo {
        width: 100px;
        height: 100px;
    }
    .area2 h1, .area3 h1, .area4 h1, .area5 h1 {
        font-size: 32px;
        margin: 40px;
    }
}