<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Ferraz Sabino</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <a href="" class="logo">Bruno Ferraz<br>Sabino</a>
                <nav>
                    <div class="menu ">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Sobre</a></li>
                            <li><a href="">Contato</a></li>
                        </ul>
                    </div>
                    <div class="menu-hamburguer">
                        <div class="hamburguer-barra"></div>
                        <div class="hamburguer-barra"></div>
                        <div class="hamburguer-barra"></div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="area1">
        <img src="/images/weee.jpg" alt="">
        <div class="area1-desc container">
            <h1>Bruno Ferraz Sabino</h1>
            <p>Desenvolvedor Back End.</p>
        </div>
        <div class="area1-photo"></div>
    </section>
    <section class="area2">
        <h1>Serviços</h1>
        <div class="area2-desc container">
            <div class="area2-desc1">
                <div class="area2-areaPng">
                    <img src="../images/engrenagens.png" alt="">
                </div>
                <h3>Criação de Sistemas</h3>
                <p>Desenvolvimento de projetos de software com tecnologia de ponta.</p>
            </div>
            <div class="area2-desc2">
                <div class="area2-areaPng">
                    <img src="../images/carrinho.png" alt="">
                </div>
                <h3>Criação de E-commerces</h3>
                <p>Desenvolvemos sua loja virtual para sua empresa vender mais.</p>
            </div>
            <div class="area2-desc3">
                <div class="area2-areaPng">
                    <img src="../images/page.png" alt="">
                </div>
                <h3>Criação de Landing Pages</h3>
                <p>Criamos sua Landing Page com altas taxas de conversão.</p>
            </div>
        </div>
    </section>
    <section class="area3">
        <h1>Nossos recursos e diferenciais</h1>
        <div class="area3-desc container">
            <div class="area3-desc1">
                <div class="area3-img">
                    <img src="../images/w.jpg" alt="">
                </div>
                <h3>Linguagens Modernas</h3>
                <p>Sistemas desenvolvidos com as linguagens mais modernas do mercado.</p>
            </div>
            <div class="area3-desc2">
                <div class="area3-img">
                    <img src="../images/seo.jpg" alt="">
                </div>
                <h3>Otimização de Mecanismos de Busca</h3>
                <p>Seus sites nos primeiros resultados de busca do Google.</p>
            </div>
            <div class="area3-desc3">
                <div class="area3-img">
                    <img src="../images/results.jpg" alt="">
                </div>
                <h3>Sistemas com os melhores desempenhos</h3>
                <p>Criamos sistemas web personalizados conforme a necessidade de seu negócio..</p>
            </div>
        </div>
    </section>
    <section class="area4">
        <h1>Mídias Socias</h1>
        <div class="area4-desc container">
            <div class="area4-img">
                <a href="" target="_blank"><img src="../images/GitHub.png" alt=""></a>
            </div>
            <div class="area4-img">
                <a href="" target="_blank"><img src="../images/LinkedIn.png" alt=""></a>
            </div>
        </div>
    </section>
    <section class="area5">
        <h1>Portfólio</h1>
        <div class="area5-desc container">
            <div class="area5-desc-content1"></div>
            <div class="area5-desc-content2"></div>
            <div class="area5-desc-content3"></div>
            <div class="area5-desc-content-modal">
                <div class="area5-modal1">
                    <div class="modal-close">
                        <div class="close">X</div>
                    </div>
                    <h2></h2>
                    <div class="area5-modal1-content">
                        <div class="area5-modal1-content-img"></div>
                        <div class="area5-modal1-content-desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla impedit corporis possimus dolorum rem odio, assumenda placeat aut nostrum perspiciatis dolore officiis facilis quo eligendi hic iure in repellendus. Beatae.
                        </div>
                    </div>
                    <a href="" target="_blank" >Clique para acessar</a>
                </div>
            </div>
        </div>
    </section>
    <section class="area6">
        <h1>Contato</h1>
        <div class="area6-content container"></div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>